.DS_Store
.httr-oauth
.project
.RData
.Rhistory
.Rproj.user
.Ruserdata
.settings/**
*.html
*.Rcheck
*.rprof
*.sas.txt
*~
/.project
articles
devel/*
develop/
doc
docs
inst/outputs/*
logs
main
Meta
news
packrat/lib*/
reference
temp
temp_w
templates/
tmp.*
vignettes/*.html
vignettes/*.md
coverage.*
.vscode/
/doc/
/Meta/
inst/doc
node_modules
